@*//9.ADIM Adding View*@
@*//10.ADIM Adding View Models*@
@model CandyShop.ViewModels.CandyListViewModel


    <h1>@Model.CurrentCategory</h1>
    @foreach (var candy in Model.Candies)
    {
        <div>
            <h2>@candy.name</h2>
            <h3>@candy.price.ToString("c")</h3>
            <h4>@candy.Category.categoryName</h4>
        </div>
    }
